.custom-form {
    margin-top: 17px;
    padding: 43px;
}

.custom-form .error-message {
    text-align: center;
    margin-bottom: 22px;
    background: #f38da1;
    color: white;
    font-family: monospace;
    font-size: 15px;
    padding: 8px;
}

.custom-form .create-truck-form {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 8px;
    grid-auto-rows: minmax(100px, auto);
}

.create-truck-form input {
    box-sizing: border-box;
    border-radius: 0.4rem;
    border: 1px solid #c8c8c8;
    padding: 1rem 0.8rem;
    margin: 0;
    font-size: 1rem;
    font-family: monospace;
}

.create-truck-form select {
    height: 52px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.create-truck-form .submit {
    margin: 0;
    height: 60px;
}

.form-control {
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.error-label {
    color: red;
}

@media only screen and (max-width: 700px){
    .custom-form .create-truck-form {
        grid-template-columns: 1fr 1fr;
        padding: 0px;
    }
    select,input {
        padding: 1rem 0.8rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px){
    .custom-form .create-truck-form {
        grid-template-columns: 2fr;
        padding: 0px;
    }
    select,input {
        padding: 1rem 0.8rem;
        font-size: 0.8rem;
    }
}

.label,section > label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

input[type="submit"],.button {
    position: relative;
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 4px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
    font-weight: lighter;
    transition: 0.3s all;
}

input[type="submit"]:hover, button[type="button"]:hover {
    background: #bf1650;
    color: white;
}

input[type="submit"]:active {
    transition: 0.3s all;
    top: 2px;
}
